
.itemContainer {
  display: grid;
  max-width: 1450px;
  margin: 0 auto;
  gap: 0rem; 
  grid-template-columns: repeat(auto-fit, minmax(385px, 0fr));
  padding: 50px 5px 50px 5px;
  background-color: #F7F7FF; 
  place-items: center;
  justify-content: center;
}


.custom-popup {
  max-width: 90vw !important;
  width: auto !important;
  max-height: 80vh !important;
  overflow-y: auto !important;
}
